@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Open+Sans+Condensed:wght@300&family=Rampart+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: "Klee One", cursive;
  font-weight: 300;
  color: gray;
  text-align: center;
  font-size: 2em;
}
section {
  background-color: black;
  padding: 10%;
}
fieldset {
  width: 50%;
  margin: 5% auto;
  padding: 30px;
  color: #fff;
}
h4 {
  margin-bottom: 10%;
  padding: 0 20%;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em;
  color: #fff;
}
fieldset:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10%;
}
fieldset:nth-of-type(1) input[type="number"] {
  margin-left: 70%;
  padding: 5px;
  display: none;
}
#runde,
#customer_Nr {
  display: none;
}

fieldset:nth-of-type(1) div {
  /* display: none; */
}
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="button"] {
  width: 100%;
  color: #fff;
  background-color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: rgb(71, 35, 35);
}

div {
  border-radius: 5px;
  padding: 10px;
}
